body{
    margin: 0%;
}

.padre{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.azul{
    background-color: blue;
}

.amarillo{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rojo{
    background-color: red;
}

img{
    width: 50%;
    height: auto;
}