body{
    margin: 0%;
}

.padre{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.blanco{
    height: 25%;
    background-color: white;
}

img{
    width: 20%;
    height: auto;
    z-index: 10;
    margin-top: 100px;
}

.imagen{
    height: 25%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celeste{
    height: 50%;
    background-color: aqua;
}